#header {
  z-index: 5;
  /* slide over group 2 */
}

#header .parallax__layer--base {
  background-image: url(../assets/family.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.no-webp #header .parallax__layer--base {
  background-image: url(../assets/fallback/family.png);
}

#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/map.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.no-webp #group2 .parallax__layer--back {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/fallback/map.png);
}

#group3 {
  z-index: 4;
  /* slide under group 3 and 5 */
}

#group4 {
  z-index: 5;
  /* slide under group 3 and 5 */
}

@media (min-width: 600px) {
  .box {
    top: 100%;
  }
}