.children #header {
  z-index: 3;
  /* slide over group 2 */
}

.children #header .parallax__layer--base {
  background-image: url(../assets/children.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.no-webp .children #header .parallax__layer--base {
  background-image: url(../assets/fallback/children.png);
}

.children #group2 {
  z-index: 5;
  /* slide under groups 1 and 3 */
}

.children #group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}

.children #group3 .parallax__layer--back {
  background-image: none;
  box-shadow: none;
}

.children #group4 {
  z-index: 3;
  /* slide over group 2 and 4 */
}

.children #group4 .box {
  margin-top: 50%;
}

.children .image p {
  margin: 1vw;
}

.children .image img {
  width: 100vw;
}