.family #header {
  z-index: 5;
  /* slide over group 2 */
}

.family #header .parallax__layer--base {
  background-image: url(../assets/family.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.family .no-webp #header .parallax__layer--base {
  background-image: url(../assets/fallback/family.png);
}

.family #group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

.family #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/map.webp);
}

.family .no-webp #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/fallback/map.png);
}

.family #group3 {
  z-index: 2;
  /* slide under group 3 and 5 */
}

.family #group3 .parallax__layer--back {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/way.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.family .no-webp #group2 .parallax__layer--deep {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/fallback/way.png);
}

.family #group4 {
  z-index: 5;
  /* slide under group 3 and 5 */
}

@media (min-width: 600px) {
  .family .box {
    top: 100%;
  }
}