.food #header {
  z-index: 5;
  /* slide over group 2 */
}

.food #header .parallax__layer--base {
  background-image: url(../assets/food.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.no-webp .food #header .parallax__layer--base {
  background-image: url(../assets/fallback/food.png);
}

.food #group2 {
  z-index: 4;
  /* slide under groups 1 and 3 */
}

.food #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/map.webp);
}

.no-webp .food #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/fallback/map.png);
}

.food #group3 {
  z-index: 3;
  /* slide over group 2 and 4 */
}

.food #group4 {
  z-index: 5;
}

.food #group5 {
  z-index: 2;
}

.food #group5 .parallax__layer--base {
  background-image: linear-gradient(to top,rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(../assets/end.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.no-webp .food #group5 .parallax__layer--base {
  background-image: url(../assets/fallback/end.png);
}

.food #group6 {
  z-index: 3;
}

.food .image p {
  margin: 1vw;
}

.food .image img {
  width: 75vw;
  mask-image: linear-gradient(black 0%, transparent 100%);
}