.imprint #header {
  z-index: 5;
  /* slide over group 2 */
}

.imprint #header .parallax__layer--base {
  background-image: url(../assets/tent_rules.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.imprint .no-webp #header .parallax__layer--base {
  background-image: url(../assets/fallback/tent_rules.png);
}

.imprint #group2 {
  z-index: 2;
  /* slide under groups 1 and 3 */
}

.imprint #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/map.webp);
}

.imprint .no-webp #group2 .parallax__layer--deep {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), url(../assets/fallback/map.png);
}

.imprint #group3 {
  z-index: 3;
  /* slide over group 2 and 4 */
}

.imprint #group4 {
  z-index: 5;
  /* slide over group 2 and 4 */
}

.imprint #group4 .box {
  margin-top: 50%;
}

.imprint #group5 {
  z-index: 2;
}

.imprint #group5 .parallax__layer--base {
  background-image:  url(../assets/sport.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
  opacity: 0.2;
}

.imprint .no-webp #group5 .parallax__layer--base {
  background-image: url(../assets/fallback/sport.png);
}

.imprint .image p {
  margin: 1vw;
}

.imprint .image img {
  width: 75vw;
  mask-image: linear-gradient(black 0%, transparent 100%);
}