.intro #header {
  z-index: 5;
  /* slide over group 2 */
}

.intro #header .parallax__layer--base {
  background-image: url(../assets/header.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.intro .no-webp #header .parallax__layer--base {
  background-image: url(../assets/fallback/header.png);
}

.intro #group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

.intro #group2 .parallax__layer--deep {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/map.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.intro .no-webp #group2 .parallax__layer--deep {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/fallback/map.png);
}

.intro #group2 .box {
  margin-top: 20%;
}

.intro #group3 {
  z-index: 4;
  /* slide under group 3 and 5 */
}

.intro #group4 {
  z-index: 5;
  /* slide under group 3 and 5 */
}