.decission {
  display: flex;
  flex-flow: row wrap;
}

.decission > * {
  flex: 1 100%;
}

.aside { flex: 1 25% }
.main { flex: 1 50% }
.aside-left { order: 1; }
.main    { order: 2; }
.aside-right { order: 3; }

.decission.Karl .intro { flex: 1 75%; }
.decission.Karl .main { flex: 1 100%; }
.decission.Karl .aside-right { display: none; }
.decission.Karl .intro { order: 2; }
.decission.Karl .aside-left { order: 1; }
.decission.Karl .main { order: 3; }

.decission.Anna .intro { flex: 1 75%; }
.decission.Anna .aside-left { display: none; }
.decission.Anna .main { flex: 1 100%; }
.decission.Anna .intro { order: 1; }
.decission.Anna .aside-right { order: 2; }
.decission.Anna .main { order: 3; }

.aside img {
  max-width: 100%;
  max-height: 50vh;
}

.aside-right img {
  float: right;
}

.intro, .main {
  text-align: center;
}

.main {
  position: relative;
}

.main-overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.intro p, .main p {
  margin: 4em 10px 0;
}

.decission a:hover {
  font-weight: bold;
  color: #E3000F;
}

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: mediumblue;
  border: none;
  cursor: pointer;
  display: inline;
  margin-right: 5%;
  padding: 0;
  font-size: calc(10px + 2vmin);
  font-family: FundamentalBrigade, arial, sans-serif;
  font-weight: normal;
  line-height: 1.6;
}

.link-button:last-child {
  margin-right: 0;
}

.link-button:hover,
.link-button:focus {
  font-weight: bold;
  color: #E3000F;
}

video {
  width: 100%;
  height: 100%;
  max-width: 960px;
}


@media (min-width: 600px) {
  video {
    margin-bottom: -3em;
  }
}