.decission {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
}

.intro {
}

.aside-left {
  /* put the nav on the left */
  order: -1;
}

.aside-left img, .aside-right img {
  height: 60vmin; 
}

.aside-left.Karl img, .aside-right.Anna img {
  height: 75vmin;
}

.aside-left.Anna, .aside-right.Karl img {
  display: none;
}

.intro, .main {
  text-align: center;
  position: relative;
}

.intro p, .main p {
  margin: 5em 5em 0;

}

.decission a:hover {
  font-weight: bold;
  color: #E3000F;
}

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: mediumblue;
  border: none;
  cursor: pointer;
  display: inline;
  margin-right: 5%;
  padding: 0;
  font-size: calc(10px + 2vmin);
  font-family: FundamentalBrigade, arial, sans-serif;
  font-weight: normal;
  line-height: 1.6;
}

.link-button:last-child {
  margin-right: 0;
}

.link-button:hover,
.link-button:focus {
  font-weight: bold;
  color: #E3000F;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width:100%;
  min-height:100%;
  width:100%;
  height:auto;
  z-index:-100;
}