.local-group #header {
  z-index: 5;
  /* slide over group 2 */
}

.local-group #header .parallax__layer--base {
  background-image: url(../assets/group.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.no-webp .local-group #header .parallax__layer--base {
  background-image: url(../assets/fallback/group.png);
}

.local-group #group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

.local-group #group2 .parallax__layer--deep {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/map.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.no-webp .local-group #group2 .parallax__layer--deep {
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../assets/fallback/map.png);
}

.local-group #group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}

.local-group #group5 .parallax__layer--base {
  background-image: linear-gradient(to top,rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(../assets/participants.webp);
  background-position: left center;
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
}

.no-webp .local-group #group5 .parallax__layer--base {
  background-image: url(../assets/fallback/participants.png);
}

.local-group #group5 {
  z-index: 3;
}

.local-group #group5 .box {
  margin-top: 50%;
}

.local-group #group6 {
  z-index: 2;
}

.local-group img {
  max-width: 25vw;
}