.routine #header {
  z-index: 5;
  /* slide over group 2 */
}

.routine #header .parallax__layer--base {
  background-image: url(../assets/routine.webp);
  box-shadow: 0 0 8px 8px #dcd5cc inset;
}

.no-webp .routine #header .parallax__layer--base {
  background-image: url(../assets/fallback/routine.png);
}

.routine #group2 {
  z-index: 4;
  /* slide under groups 1 and 3 */
}

.routine #group3 {
  z-index: 3;
  /* slide over group 2 and 4 */
}

.routine #group3 .parallax__layer--back {
  background-image: none;
  box-shadow: none;
}

.routine #group5 {
  z-index: 2;
}

.routine #group5 .parallax__layer--base {
  background-image: linear-gradient(to top,rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(../assets/election.webp);
  box-shadow: 0 0 8px 8px #c7bbb2 inset;
  opacity: 0.7;
}

.no-webp .routine #group5 .parallax__layer--base {
  background-image: url(../assets/fallback/election.png);
}

.routine .image p {
  margin: 1vw;
}

.routine .image img {
  width: 75vw;
  mask-image: linear-gradient(black 0%, transparent 100%);
}