.fade-in-left {
  opacity: 0;
  transform: translateX(-33px);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out,
    visibility 1000ms ease-out;
  will-change: opacity, transform, visibility;
  height: 100%;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(33vh);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out,
    visibility 1000ms ease-out;
  will-change: opacity, transform, visibility;
  height: 100%;
}

.fade-in-top {
  opacity: 0;
  transform: translateY(-33vh);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out,
    visibility 1000ms ease-out;
  will-change: opacity, transform, visibility;
  height: 100%;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(33px);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out,
    visibility 1000ms ease-out;
  will-change: opacity, transform, visibility;
  height: 100%;
}

.fade-in-left.is-visible, .fade-in-bottom.is-visible, .fade-in-top.is-visible, .fade-in-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}