.video {
  position: relative;
  display: inline-block;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.play:hover {
  border-color: transparent transparent transparent #404040;
}

.play.hide {
  display: none;
}