.daily {
  display: flex;
  flex-direction: column;
}

.daily .description {
  width: 75vw;
  margin: 0 auto 1em;
  text-align: center;
}

.daily .items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: chocolate;
}

.daily .items .ddcontainer:hover {
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.daily .items:focus {
  outline: none;
}

.daily .items .item p {
  margin: 0;
  letter-spacing:0.1em;
  cursor: grab;
}

.daily .component_box {
  min-width: 300px;
  min-height: 300px;
  background: url(../assets/daily.webp) no-repeat;
  background-size: contain;
}

.no-webp .daily .component_box  {
  background-image: url(../assets/fallback/daily.png);
}

.daily img {
  height: auto;
  text-align: center;
  width: 50%;
  margin: 0 auto 0;
  justify-content: center;
  display: flex;
}

.daily .box_item_component:first-child {
  padding: 10% 0 0 10%;
}

.daily .box_item_component {
  padding-left: 10%;
}

.daily .show {
  margin-bottom: 10%;
}