.daily {
  display: flex;
  flex-direction: column;
}

.daily .description {
  width: 75vw;
  margin: 0 auto 1em;
  text-align: center;
}

.daily .items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: chocolate;
}

.daily .items .ddcontainer:hover {
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.daily .items:focus {
  outline: none;
}

.daily .items .item p {
  margin: 0;
  letter-spacing:0.1em;
  cursor: grab;
}

.daily .component_box {
  background: url(../assets/daily.webp) no-repeat center center;
  background-size: contain;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-webp .daily .component_box  {
  background-image: url(../assets/fallback/daily.png);
}

.daily img {
  height: auto;
  text-align: center;
  width: 60%;
  margin: 0 auto 0;
  justify-content: center;
  display: flex;
  max-height: 66vh;
}

.daily .show {
  margin-bottom: 5%;
}

@media (min-width: 600px) {
  .daily .component_box {
    height: 45vh;
  }
}