.memory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 1000px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  padding: 0 4px;
}

.memory .description {
  width: 75vw;
  margin: 0 auto 1em;
  text-align: center;
}

.memory .card {
  flex: 25%;
  max-width: 21%;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  padding: 0 4px;
  box-sizing: border-box;
}

.memory .card div {
  backface-visibility: hidden;
  transition: 0.6s;
}

.memory .card .front {
  cursor: pointer;
}
.memory .card:not(.matched) .back  {
  transform: rotateY(180deg);
}

.memory .card img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}
.memory .card.opened, .memory .card.matched {
  transform: rotateY(180deg);
}

.memory .card.matched {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) inset;
  animation: selected 0.8s 0s ease 1;
  animation-fill-mode: both;
  opacity: 0.2;
}
@keyframes selected {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.3;
  }
}