.suitcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suitcase .description {
  width: 75vw;
  margin: auto;
  text-align: center;
}

.suitcase .items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.suitcase .items .ddcontainer {
  opacity: .5;
}

.suitcase .items .ddcontainer:hover {
  transition: background-color 0.5s ease;
  opacity: 1;
}

.suitcase .items:focus {
  outline: none;
}

.suitcase .bag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suitcase .items > * {
  width: 25%;
  margin: auto;
}

.suitcase .items img {
  width: 100%;
  border-radius: 50%;
  cursor: grab;
}

.suitcase .dragText {
  text-align: center;
}

@media (min-width: 600px) {
  .suitcase .items > * {
    width: 10%;
  }
}