.game-info, .game-result {
  display: flex;
  max-width: 75vw;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.square {
  background: chocolate;
  box-shadow: 0 0 1px rgba(0, 0, 0, .7);
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  flex: 33%;
  max-height: 25vh;
  max-width: 25vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.square::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.square:hover {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: rgba(240, 230, 220, .1);
  cursor: pointer;
}

.square:focus {
  outline: none;
}