  @font-face {
    font-family: 'CinnamonCake';
    font-display: swap;
    src: url('./assets/fonts/CinnamonCake.ttf') format('truetype');
  }

  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
  }

  p {
    color: #333;
    font-size: 1.3em;
    line-height: 150%;
  }

  h1 {
    margin: 0 10px;
    font-size: 4em;
  }

  h2 {
    margin: 0 10px;
    font-size: 3em;
  }

  ol,ul {
    list-style: none;
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 6em;
    }
  }

  @media (min-width: 900px) {
    h1 {
      font-size: 8em;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 10em;
    }

    h2 {
      font-size: 4em;
    }
  }

  @media (min-width: 1800px) {
    h1 {
      font-size: 12em;
    }

    h2 {
      font-size: 6em;
    }
  }
