  @font-face {
    font-family: 'FundamentalBrigade';
    font-display: swap;
    src: url('./assets/fonts/Fundamental_Brigade_Schlank.ttf') format('truetype');
  }

  @font-face {
    font-family: 'LinolschriftHeavy';
    font-display: swap;
    src: url('./assets/fonts/Linolschrift_Heavy.ttf') format('truetype');
  }

  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    background-image: url(./assets/background.webp);
    color: darkred;
    font-size: calc(10px + 2vmin);
    font-family: FundamentalBrigade, arial, sans-serif;
    font-weight: normal;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
  }

  .no-webp body {
    background-image: url(./assets/fallback/background.jpg);
  }

  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

  h1 {
    font-size: 3em;
    font-family: LinolschriftHeavy, arial, sans-serif;
    font-weight: normal;
  }

  h2 {
    font-size: 2em;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
    line-height: 200%;
  }

  a {
    text-decoration: none;
    color: mediumblue;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
