nav {
  left: 1%;
  position: absolute;
  top: 50%;
  z-index: 6;
}

nav li {
	cursor: pointer;
	height: 20px;
	margin: 0 0 20px;
	position: relative;
	width: 20px;
  display: block;
}

nav li a {
	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white;
	cursor: pointer;
	height: 100%;
	left: 0;
	outline: none;
	text-indent: -999em;
	top: 0;
	transition: background 0.3s ease;
	width: 100%;
  overflow: hidden;
  position: absolute;
}

nav li a:focus {
	outline: none;
}

nav li a:hover,
nav li a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

nav li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	transition: height 0.3s ease;
}

nav li.current a::after {
	height: 100%;
}