
.rain {
  height: 100%;
  background: url(./assets/rain.webp);
  animation: rain .3s linear 40;
  animation-fill-mode: forwards;
}

 .no-webp .rain {
  background: url(./assets/fallback/rain.png);
}

.rain:before {
  content: '';
  position:absolute;
  width:100%;
  height:100%;
  background: white;
  animation: lighting 4s linear 3;
  opacity:0;
}  

@keyframes rain  {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
    height: 0%;
  }
}

@keyframes lighting {
  0% {
    opacity:0;
  }
  10% {
    opacity:0;
  }
  11% {
    opacity:1;
  }
  14% {
    opacity:0;
  }
  20% {
    opacity:0;
  }
  21% {
    opacity:1;
  }
  24% {
    opacity:0;
  }
  104% {
    opacity:0;
  }
}